


body{
    background-image: url("../img/baggrund.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


.title{
color: #EF6921; 
-webkit-text-stroke: 0.1rem #ffa51d;
text-shadow: 1px #FFA51D;
font-family: 'Cherry Bomb One';
font-size: 50px;
text-align: center;
word-spacing: -6px;
}


.skattekiste {
    position: absolute;
    bottom: 20px;
    left: 47%;
    transform: translateX(-50%);
    width: 330px;
    height: auto;

}


.bubbles-chest {
    position: absolute;
    bottom:150px;
    left: 47%;
    transform: translateX(-50%);
    width: 200px;
    height: 250px;

}

.bubbles-small-1 {
    position: absolute;
    bottom: 400px;
    left: 30%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
}

.bubbles-small-2 {
    position: absolute;
    bottom: 550px;
    left: 10%;
    transform: translateX(-50%);
    width: 150px;
    height: auto;
}

.bubbles-small-3 {
    position: absolute;
    bottom: 400px;
    left: 85%;
    transform: translateX(-50%);
    width: 150px;
    height: auto;
}