


body{
    background-image: url("../img/baggrund.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


.title{
color: #EF6921; 
-webkit-text-stroke: 0.1rem #ffa51d;
text-shadow: 1px #FFA51D;
font-family: 'Cherry Bomb One';
font-size: 50px;
text-align: center;
word-spacing: -6px;
}

/* Her vil jeg lave en commit */
.skattekiste {
    position: absolute;
    bottom: 20px;
    left: 47%;
    transform: translateX(-50%);
    width: 330px;
    height: auto;

}